.left-side-items {
    margin-left: 35%;
}

.logo-left-top {
    height: 45px;
    
}

.fa-brands, .fa-solid, .tweet-button {
    margin: 6%;
}

.tweet-button {
    background-color: var(--brandColor);
    width: 160px;
    height: 50px;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    padding-top: 12px;

}

.profile-icon-u {
    background-color: #7E57C2;
    height: 39px;
    width: 39px;
    border-radius: 39px;
    text-align: center;
    padding-top: 8px;
    bottom: 2%;
    position: absolute;
    
}

.left-bottom-profile {
    display: flex;
    bottom: 2%;
    position: absolute;
    
}

.left-bottom-profile-right-side {
    margin-left: 50px;
}