@import "./variables.scss";
@import "./mixin";

.center-part__header{
    @include flex-between;
    height: 3em;
    align-items: center;
    width: 44%;
    margin: 0 auto;
    margin-bottom: 1em;
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: $cBackGroundDark;

        > h2{
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        padding-left: 1em;
        cursor: pointer;
        }

        > i{
        cursor: pointer;
        border-radius: 50%;
        padding: 0.5em;

            &:hover{
                background-color: #181919;
            }
        }
}

.center-part__form{
    height: 8em;
    display: flex;
    width: 90%;
    margin: 0 auto;
    margin-top: 4em;

    > .form-userIcon{
    flex-basis: 10%;
    text-align: center;
    margin-top: 0.8em;
    }

    > .form-input{
    flex-basis: 90%;

        .form-sentence{
            @include flex-center;
            flex-direction: column;
            height: 60%;
            border-bottom: 1px solid #2F3336;

            input{
                height: 2.5em;
            }

            .reply-preference{
                font-weight: 700;
                font-size: 14px;
                color: $cBrandColor;
                cursor: pointer;
            }
        }

        > .form-icons{
            height: 40%;
            @include flex-between;
            align-items: center;

            .form-attachmentIcon{
                @include flex-between;
                width: 45%;
                cursor: pointer;
                color: $cBrandColor;

                .disable{
                    opacity: .5;
                }
            }
            .tweet-btn{
                background-color: $cThinBlue;
                border-radius: 25px;
                padding: .5em 1em;
                cursor: pointer;
            }
        }
    }
}

.center-part__showTweets{
    padding: 1em 0;
    border-top: 1px solid $cBorderColor;
    border-bottom: 1px solid $cBorderColor;
    text-align: center;
    color: $cBrandColor;
    cursor: pointer;
}

.center-part__TweetBody{
    border-bottom: 1px solid $cBorderColor;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    width: 100%;
    padding: 1.8em;
    cursor: pointer;

    .tweetBody-top{
    display: flex;

        > .user-icon{
            flex-basis: 10%;

            &:hover{
                opacity: .5;
            }
        }

        > .user-info{
            flex-basis: 80%;

            .account{
                color: #686D70;
            }
        }

        > .ellipsis{
            flex-basis: 10%;
        }
    }
}

.tweetBody-middle{
    display: flex;
    line-height: 3em;
    text-align: center;
    padding-bottom: 1em;

    > .tweet-sentence{
        text-align: left;
        line-height: 1.7em;
    }
}
.bottom-icons{
    @include flex-between;

    > div{
        @include flex-between;
        width: 15%;
        align-items: center;
        font-size: .8em;
    }

    > .reply:hover{
        color: $cBrandColor;
    }

    .retweet:hover{
        color: $cRetweetHover;
    }

    .like:hover{
        color: $cLikeHover;
    }

    .share:hover{
        color: $cBrandColor;
    }
}
